.appsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px;
    height: 560px;
    min-width: 250px;
    min-height: 500px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.35rem 0.5rem 7px rgba(0, 0, 0, 0.8);
    background: var(--secondary-bg-color);
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.taskBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4%;
    background-color: var(--primary-bg-color);
    border-radius: 6px 6px 0px 0px;
    font-size: 0.9rem;
    color: var(--text-color);
    z-index: 2;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px 6px 0px 0px;
}

.appsConsole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
    z-index: 1;
}

.apps {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    margin: 25px auto;
    height: 100%;
    padding: 10px 0px;
    overflow-y: scroll;
}

.apps-item {
    height: fit-content;
    width: fit-content;
}

.menu {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuTitle {
    font-size: 1.5rem;
    margin: 0;
}

.menuText {
    font-size: 1rem;
    margin: 10px;
}

.appButton {
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 75px;
    transition: all 0.1s ease-in-out;
}

.appButton:hover {
    scale: 1.1;
}

.appButton:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    scale: 1.05;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9%;
    background-color: var(--primary-bg-color);
    border-top: 2.5px solid var(--border-color);
    border-radius: 5px;
    z-index: 2;
}

.menuButton {
    background-color: var(--bg-color);
    border: 1.5px solid var(--border-color);
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.2rem;
    height: 30px;
    font-weight: bold;
}

.menuButton:hover {
    background-color: var(--secondary-bg-color);
}

.menuButton:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

/* .consoleBG {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
} */

@media screen and (max-width: 768px) {
    .appsContainer {
        display: none;
    }
}

@media screen and (max-width: 1450px) {
    .appsContainer {
        width: 300px;
        height: 500px;
    }
}