.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: auto;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 350px;
    height: 420px;
    margin: 20px;
    border: 3px solid var(--secondary-bg-color);
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projectCard:hover {
    border-color: var(--text-color);
}

.activeProjectCard {
    border-color: var(--border-color);
    scale: 1.1;
}

.activeProjectCard:hover {
    border-color: var(--border-color);
}

@media screen and (max-width: 850px) {
    .projectCard {
        width: 300px;
        height: 400px;
    }
}