#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.dark {
  --primary-bg-color: #161616;
  --secondary-bg-color: #6C41EC;
  --text-color: #FFFFFF;
  --border-color: #242424;
  --link-color: #6C41EC;
  --link-hover-color: #FFFFFF;
}

.light {
  --primary-bg-color: #845CF5;
  --secondary-bg-color: #FFFFFF;
  --text-color: #161616;
  --border-color: #161616;
  --link-color: #FFFFFF;
  --link-hover-color: #161616;
}

.primaryDefault {
  min-height: 100vh;
  min-width: 100vw;
}

.secondaryDefault {
  min-height: 60vh;
  min-width: 100vw;
  /* background-color: #f2f2f231; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 850px) {
  .primaryDefault {
    margin-bottom: 25px;
  }
}