#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

p, b {
  opacity: 0.8;
}

.dark {
  --primary-bg-color: #161616;
  --secondary-bg-color: #6C41EC;
  --text-color: #FFFFFF;
  --border-color: #242424;
  --link-color: #6C41EC;
  --link-hover-color: #FFFFFF;
  --contact-bg-color: #6C41EC;
  --contact-input-bg-color: #161616;
  --contact-text-color: #FFFFFF;
}

.light {
  --primary-bg-color: #845CF5;
  --secondary-bg-color: #FFFFFF;
  --text-color: #161616;
  --border-color: #161616;
  --link-color: #FFFFFF;
  --link-hover-color: #161616;
  --contact-bg-color: #845CF5;
  --contact-input-bg-color: #FFFFFF;
  --contact-text-color: #161616;
  --contact-border-color: #161616;
  --light-transparent-bg: #f2f2f231;
}

.primaryDefault {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color) 210%);
}

.secondaryDefault {
  min-height: 60vh;
  min-width: 100vw;
  background-color: var(--light-transparent-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (max-width: 850px) {
  .primaryDefault {
    margin-bottom: 25px;
  }
}