#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  background: var(--bg-gradient);
  color: var(--text-color);
}

p, b {
  opacity: 0.8;
}

.dark {
  --primary-bg-color: #161616;
  --secondary-bg-color: #6C41EC;
  --bg-gradient: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color) 210%);
  --text-color: #FFFFFF;
  --border-color: #242424;
  --link-hover-color: #6C41EC;
  --link-color: #FFFFFF;
  --contact-bg-color: #6C41EC;
  --contact-input-bg-color: #161616;
  --contact-text-color: #FFFFFF;
  --transparent-bg: #161616;
  --success-color: #11f51c;
  --warning-color: #fc9c2f;
}

.light {
  --primary-bg-color: #845CF5;
  --secondary-bg-color: #FFFFFF;
  --bg-gradient: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color) 210%);
  --text-color: #161616;
  --border-color: #161616;
  --link-color: #FFFFFF;
  --link-hover-color: #161616;
  --contact-bg-color: #f2f2f231;
  --contact-input-bg-color: #FFFFFF;
  --contact-text-color: #161616;
  --contact-border-color: #161616;
  --transparent-bg: #f2f2f231;
  --success-color: #279242;
  --warning-color: #fd6602;
}

.primaryDefault {
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg-gradient);
}

.secondaryDefault {
  min-height: 60vh;
  min-width: 100vw;
  background-color: var(--transparent-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#success {
  color: var(--success-color);
}

#warning {
  color: var(--warning-color);
}

.hide-scrollbar {
  overflow-x: hidden;
}

@media screen and (max-width: 850px) {
  .primaryDefault {
    margin-bottom: 25px;
  }
}