.About {
    display: flex;
    min-height: 60vh;
    min-width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f231;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-around;
    width: 100%;
    gap: 10px;
    margin-bottom: 25px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

.skill:hover {
    transform: scale(1.5);
    color: #6C63FF;
}

@media screen and (max-width: 1024px) {
    .aboutContainer {
        width: 100%;
    }  
}

@media screen and (max-width: 430px) {
    .skills {
        width: 95%;
        height: 360px;
        overflow-y: scroll;
        border: 3px solid #3F3D56;
        border-radius: 5px;
    }
    .skillsContainer {
        margin-top: 10px;
        gap: 10px;
    }
}