.About {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-around;
    width: 100%;
    gap: 10px;
    margin-bottom: 25px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: scale 0.15s ease-in-out;
}

.skill:hover {
    scale: 1.5;
    color: var(--secondary-bg-color);
}

@media screen and (max-width: 1024px) {
    .aboutContainer {
        width: 95%;
    }  
}

@media screen and (max-width: 430px) {
    .skillsContainer {
        margin-top: 10px;
        gap: 10px;
    }
    .skills {
        width: 95%;
    }
    .skill {
        width: 70px;
        height: 70px;
    }
}