.Header {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    place-items: center;
    min-width: 100vw;
    gap: 25px;
}

.myInfo {
    text-align: left;
}