nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

nav li:hover {
    scale: 1.1;
}

.navLinks {
    text-decoration: none;
    color: var(--text-color);
}

.navLinks:hover {
    color: var(--primary-bg-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 30px;
    margin-left: 20px;
}

.themeButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.themeButton img {
    width: 25px
}

.themeButton:hover {
    scale: 1.3;
}